<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-4 col-sm-7">
                <div class="footer__widget">
                    <h6>Hệ thống cửa hàng</h6>
                    <ul>
                        <li><a href="#"> 828 Sư Vạn Hạnh (Quận 10)</a></li>
                        <li><a href="#"> M4-M7-M9 Thất Sơn (Quận 10)</a></li>
                        <li><a href="#">298-304 Cao Thắng (Quận 10)</a></li>
                        <li><a href="#">32 Trường Sơn (Quận Tân Bình)</a></li>
                        <li><a href="#">806 QL22, ấp Mỹ Hoà 3(Hóc Môn)</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="footer__widget">
                    <h6>
                        Chính Sách
                    </h6>
                    <ul>
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Chính sách Bảo hành & Đổi trả</a></li>
                        <li><a href="#">Chính sách giao hàng </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>Mạng xã hội</h6>

                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
