<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalLabel">Đổi mật khẩu :
                    <span id="usernameChangepass"></span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="changePasswordForm">  
                    <input type="hidden" name="UserId"/>
                    <div class="mb-3">
                        <label  class="form-label">Mật khẩu mới</label>
                        <input type="password" class="form-control" id="newPassword" name="Password" >
                        <div id="passwordError" class="invalid-feedback"></div>

                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Xác nhận mật khẩu</label>
                        <input type="password" class="form-control" id="confirmPassword" name="ConfirmPassword" >
                        <div id="cfpasswordError" class="invalid-feedback"></div>

                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <button type="submit" class="btn btn-outline-primary btn-sm mb-0" id="submitChange">Đổi mật khẩu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('#submitChange').attr('disabled', 'disabled');

        $('#changePasswordForm').submit(function (event) {
            event.preventDefault();
               var formData = $(this).serialize();
               $.ajax({
                url: '/Admin/Accounts/ChangePassword', // Replace with your actual endpoint
                   type: 'POST',
                   data: formData,
                   success: function (response) {
                       alert('Password changed successfully!');
                       $('#changePasswordModal').modal('hide');
                   },
                   error: function (error) {
                       // Handle error
                       alert('An error occurred. Please try again.');
                   }
               });
            
        });
        $('#confirmPassword').keyup(function () {
            var cfpass = $(this).val();
            var newPassword = $('#newPassword').val();

            if (newPassword != cfpass) {
                $(this).addClass('is-invalid');
                $('#cfpasswordError').text('Mật khẩu không trùng khớp');
                $('#cfpasswordError').show();
                $('#submitChange').attr('disabled', 'disabled');
            } else {
                $('#cfpasswordError').hide();
                $(this).removeClass('is-invalid');
                $('#submitChange').removeAttr('disabled');
            }
        });
        $('#newPassword').keyup(function () {
            var newPassword = $(this).val();
            if (newPassword.length < 8) {
                $(this).addClass('is-invalid');
                $('#passwordError').text('Mật khẩu quá ngắn');
                $('#passwordError').show();
                $('#submitChange').attr('disabled', 'disabled');
            } else {
                $('#passwordError').hide();
                $(this).removeClass('is-invalid');
                $('#submitChange').removeAttr('disabled');

            }
        });
        // Clear the error message when the modal is hidden
        $('#changePasswordModal').on('hide.bs.modal', function () {
            $('#passwordError').hide();
            $('#confirmPassword').removeClass('is-invalid');
            $('#changePasswordForm')[0].reset();
        });

      
    });

</script>
