<nav class="navbar navbar-main navbar-expand-lg blur shadow-blur mt-4 border-radius-xl d-xl-none
            shadow-none px-4 w-100 z-index-2">
    <div class="container-fluid py-1">
        <nav aria-label="breadcrumb">
            <h6 class=" font-weight-bolder ms-2">Owls Store</h6>
        </nav>
        <div class="collapse navbar-collapse me-md-0 me-sm-4 mt-sm-0 mt-2" id="navbar">
           
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item d-flex align-items-center">
                    <a href="javascript:;" class="nav-link  font-weight-bold px-0">
                        <i class="fa fa-user me-sm-1" aria-hidden="true"></i>
                        <span class="d-sm-inline d-none">Tài khoản</span>
                    </a>
                </li>
                <li class="nav-item d-xl-none ps-3 pe-0 d-flex align-items-center">
                    <a href="javascript:;" class="nav-link  p-0">
                    </a><a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                        </div>
                    </a>

                </li>
               
            </ul>
        </div>
    </div>
</nav>