


<div class="row">
    <div class="col-12 col-lg-4">
        <vc:colors />
    </div>
    <div class="col-12 col-lg-8">
        <vc:shipping-fee />
    </div>
</div>

<partial name="_SFModal"/>
<partial name="_ColorEditModal" />
<partial name="_ColorAddModal" />