@model IEnumerable<Owls.DTOs.ProductBaseInformation>

@section Banner {
	<partial name="Banner" />
}
<div class="title-1">
	<center>
		<h4>NEW ARRIVAL</h4>
	</center>
</div>
<div class="row homepro">
	@foreach (var product in Model)
	{
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">

			<partial name="_ProductCard" model="@product" />
		</div>

	}
</div>

<vc:best-seller />
