

@page "/customer"


<div class="d-flex flex-lg-row flex-column gap-4 mt-5 pb-5 align-items-center align-items-lg-start">
    <component type="typeof(Sidebar)" render-mode="Server" />
    <component type="typeof(Routed)" render-mode="Server" />
</div>


