@page "/payment/cancel"

<div>
	<div>
		<div>
			<div class="modal-body text-center p-lg-4">
				<img src="/image/failpay.gif" alt="" height="200" width="200" />

				<h5 class="text-danger font-weight-normal">Thanh toán thất bại </h5>
			</div>
		</div>
	</div>
</div>
@code {

}
