@page "/payment/success"
<Title PageTitle="- Thanh toán thành công" />

<div>
	<div>
		<div>
			<div class="modal-body text-center p-lg-4">
				<img src="/image/successpay.gif" alt="" height="200" width="200" />

				<h5 class="text-success font-weight-normal">Thanh toán thành công </h5>
			</div>
		</div>
	</div>
</div>
@code {

}
